
         *{
    background-color: whitesmoke;

 }

 h1{
    background-color: black;
 }
 h1{
    color: white;
 }

button{
    color: white;
 }

 input{
    color: black;
 }
 p{
    color: black;
 }
button{
   background-color: black;
}