*{
    background-color:aqua;
    color: darkblue;
}

h1{
    background-color: brown;
}

.kuchbhi{
    background-color: forestgreen;
}

#submitbutton{
    background-color: blueviolet;
}

.kuchbhi{
    color: gold;
}